.nav-block {
  background-color: #67AEFC;
  display: flex;
  padding: 18px 0;

  @media screen and (max-width: 428px){
    padding: 9px 12px
  }
}

.nav-block .container{
  justify-content:space-between;

  @media screen and (max-width: 428px){
    align-items: center;
  }
}

.nav-item.mobile.active {
  display: flex;
  margin: 0 auto;
}

.logo{
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width: 428px){
    display: none;
  }

  @media (min-width: 428px) and (max-width:998px){
    margin-top: 19px;
    flex-direction: column;
    align-items: flex-end;
  }

}

.nav-item ul{
  display: flex;

  @media screen and (max-width: 428px){
    flex-direction: column;
    align-items: center;
  }

}

.nav-item ul li {
  list-style-type: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-right: 35px;
   
  &:hover{
    border-bottom: 2px solid white;
  }

  @media screen and (max-width: 428px){
    margin-top: 43px;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform:  uppercase;
  }

}

.nav-item .nav-btn{
  @media screen and (max-width: 428px){
    display: none;
  }

  @media (min-width: 428px) and (max-width:998px){
    margin-top: 15px;
  }
}

.nav-item .nav-btn .btn-green{  
  padding: 10px 42px;

  &:hover{
    border: 1px solid white;
    padding: 9px 41px
  };
  &:active{
    background: white;
    color: #67AEFC;
  }
}

.nav-block .burger-mobile {
  display: inline-flex;
  height: 13px;

  @media screen and (min-width: 428px){
    display: none;
  }
}

.nav-block .burger-mobile.active span{

  animation: move 4s 1;

  @keyframes move {
    0% {
      transform: scale(0.5, 0.5)
    }
    50% {
      transform: scale(1.0, 1.0);
    }
    100% {
      transform: scale(1.0, 1.0);
    }
   
  }
}

.nav-block .burger-mobile span{
  content: '';
  margin-right: 5px;
  width: 13px;
  background-color: #fff;
  border-radius: 50%;
}

.banner-block{
  position: relative;
  padding: 82px 0 122px 0;


  @media screen and (max-width: 428px){
    padding: 35px 0 51px 0;
  }
}

.banner-block .background-block{
  z-index: -2;
  position: absolute;
  width: 100%;

}
.banner-block .text-block{

  @media screen and (max-width: 428px){
    margin-top: 53px;

  }
}
.banner-block .text-block img{
  width: 15px;
  position: absolute;
  right: 0;
  bottom: 120px;

  @media screen and (min-width: 428px){
    display: none;
  }
}

.banner-block .image-block{

  @media screen and (max-width: 428px){
    width: 70%;
  }
}

.banner-block .container{
  z-index: 1000;
  margin-top: 80px;
  flex-direction: row-reverse;

  @media screen and (max-width: 428px){
    justify-content: center;
    align-items: center
  }
}


.banner-block .ball-blue{
  margin-left: 12.5vw;
  width: 2.77vw;
 
  @media screen and (max-width: 428px){
  display: none;  }
}

.banner-block .cylinder{
  width: 5.97vw;
  margin-left: 40%;

  @media screen and (max-width: 428px){
    width: 11vw;
  }
}

.banner-block .text-block p{
  margin-top: 20px;
  margin-bottom: 58px;

}

.banner-block .text-block a{
  text-align: center;
}

.bottom-picture{
  position: absolute;
  top: 70%;
  z-index: -3;

    @media screen and (max-width: 428px){
      top: 0;
      position: relative;
    }

    @media (min-width: 768px) and (max-width: 992px){
      top: 10%;
    }

    @media (min-width: 992px) and (max-width: 1220px){
      top: 20%;
    }

    @media (min-width: 1220px) and (max-width: 1440px){
      top: 85%;
    }
}

.wave-pink{
  position: absolute;
  left: 45%;
  top: 35%;
  z-index: 500;

  @media screen and (max-width: 428px){
    width: 18vw;
    left: 0;
    top: 255%;
    transform: scaleX(-1) scaleY(1);
  }

  @media (min-width: 1025px) and (max-width: 1220px){
    top: 245% !important;
  }

  @media (min-width: 768px) and (max-width: 1025px){ 
    width: 90%;
    top: 215%;
    left: 230%;
  }

}


