.more-info p{
  margin-top: 53px;
  margin-bottom: 45px;
  padding-right: 30px;

  @media screen and (max-width: 425px){
    padding-right: 0;
    margin-top: 29px;
    margin-bottom: 25px;
  }
}

.more-info .text-block img{
  margin-top: 27px;
  @media screen and (min-width: 428px){
    display: none;
    
  }
}

.more-info img{
  max-width: 100%;
}

.more-info .container{
  align-items: center;
}

.more-info .image-block{
  @media screen and (max-width: 428px){
    display: none;
    
  }
}

