<footer>
 <section class="footer">
  <div class="container">
    <div class="logo">
<img src="../assets/images/logo.png" alt="">
    </div>
    <div class="contacts">
      <ul>
        <li><img src="../assets/images/viber.png" alt=""> Валерия: <a href="tel:+79805585949">+79805585949</a></li>
        <li><img src="../assets/images/viber.png" alt=""> Анна: <a href="tel:+79805585949">+79805585949</a></li>
        <li><img src="../assets/images/viber.png" alt=""> Валерия: <a href="tel:+79805585949">+79805585949</a></li>
      </ul>
    </div>
    <div class="email"><a href="mailto:hr@dv-s.com">hr@dv-s.com</a></div>
    <div class="social-media">
      <ul>
        <li><a href="#"><img src="../assets/images/instagram.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/images/facebook.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/images/telegram.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/images/viber.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/images/whatsapp.png" alt=""></a></li>
      </ul>
    </div>
  </div>
  <div class="container paragraph">
    <p>Developers 2018-2021 © All rights reserved</p>
  </div>
 </section>
</footer>
