<header>
<div class="nav-block">
  <div class="container">
    <div class="logo">
<img src="../assets/images/logo.png" alt="">
    </div>
    <div class="burger-mobile">
      <span></span>
      <span></span>
      <span></span>
    </div> 
    <div class="nav-item mobile">
      <ul>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Портфолио</a></li>
        <li><a href="#">Этапы</a></li>
        <li><a href="#">Дизайнеры</a></li>
      </ul>
      <div class="nav-btn">
        <a href="#callback" class="btn-green">Заказать</a>
      </div>
    </div>
 
  </div>
</div> 

<div class="banner-block">
  <div class="background-block">
    <div class="figures">
      <img src="../assets/images/ball-blue.png" alt="" class="ball-blue" data-aos="zoom-in">
      <img src="../assets/images/cylinder-blue.svg" alt="" class="cylinder" data-aos="zoom-in">
    </div>
    <div class="ellips-blue" data-aos="fade-up-left"> 
    </div>
    <div class="bottom-picture">
      <img src="../assets/images/wave-pink.svg" alt="" class="wave-pink" data-aos="zoom-in">
      <div class="ellips-white" data-aos="fade-up-right"></div>  
</div>
<img src="../assets/images/sphere-purple.png" alt="" class="sphere-mob">
  </div>
  <div class="container">
    <div class="image-block" data-aos="zoom-in">
    </div>
    <div class="text-block">
      <h1>Разработка интернет-магазина с нуля за неделю</h1>
      <p>Дизайн интернет магазина, элементов микро UX, корзин, личного кабинета - от фирменного стиля 
        до пользовательского интерфейса в сжатые сроки 
        с командой Virtual Designers 
      </p>
      <img src="../assets/images/sphere.png" alt="" data-aos="zoom-in">
      <a href="#callback" class="btn-green">Заказать</a>   
    </div>
  </div>
</div>
</header>
