<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    {{> header }}

    {{> body }}

    {{> footer }}


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    <script>
    $(document).ready(function(){
        $('.carousel-block').slick({
        infinite: true,
        slidesToShow: 2,
        slidesToScroll: 1,
        centerPadding: '10px',
        responsive: [
    {
      breakpoint: 1200,
      settings: {
        slidesToShow: 1
      }
    }],
        });
      });
</script>
<script>
      $(document).ready(function(){
            $('carousel-mobile').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            arrows: true,
            vertical: true,
            verticalSwiping: true,
            mobileFirst: true, 
            responsive: [
            {
               breakpoint:1024,
               settings: "unslick"               
            }],
            });
          });
</script>
<!--
<script>
  
const form  = document.getElementsByTagName('form')[0];

const email = document.getElementsByClassName('mail');
const emailError = document.querySelector('.mail + span.error');

email.addEventListener('input', function (event) {
  if (email.validity.valid) {
    emailError.textContent = '';
    emailError.className = 'error'; 
    } else {
    showError();
  }
});

form.addEventListener('submit', function (event) {
  if(!email.validity.valid) {
    showError();
    event.preventDefault();
  }
});

function showError() {
  if(email.validity.valueMissing) {
    emailError.textContent = 'Вам нужно ввести Email';
  } else if(email.validity.typeMismatch) {
    emailError.textContent = 'Введенное значение должно быть Email';
  } else if(email.validity.tooShort) {
    emailError.textContent = `Email should be at least ${ email.minLength } characters; you entered ${ email.value.length }.`;
  }
  emailError.className = 'error active';
}

</script>-->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="assets/js/app.js"></script>
    
</body>
</html>
