<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    {{> header }}

    {{> body }}

    {{> footer }}


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
    $(document).ready(function(){
        $('.carousel-block').slick({
        infinite: true,
        slidesToShow: 2,
        slidesToScroll: 1,
        centerPadding: '10px',
        responsive: [
    {
      breakpoint: 1200,
      settings: {
        slidesToShow: 1
      }
    }],
        });
      });
      </script>
    <script src="assets/js/app.js"></script>
    
</body>
</html>
